{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вы кладовщик!</h1>
        <p>На складе хранятся товары разных категорий. Каждая приходящая на склад партия товаров фиксируется кладовщиком и складируется на стеллажи согласно габаритам товара (стеллажи имеют разную ёмкость и габариты).</p>

        <h2>Функции кладовщика:</h2>
        <ol>
            <li>Фиксация прихода товара</li>
            <li>Фиксация выдачи товара</li>
            <li>Подбор свободных стеллажей</li>
            <li>Поиск товара на складе</li>
            <li>Проверка возможности приемки товара</li>
        </ol>

        <a href="{% url 'home' %}">На главную страницу</a>
    </div>
</body>
</html>
