{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление стеллажами</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Управление стеллажами</h1>
        <form method="post">
            {% csrf_token %}
            {{ shelf_form.as_p }}
            <button type="submit">Добавить стеллаж</button>
        </form>
        <h2>Существующие стеллажи</h2>
        <ul>
            {% for shelf in shelves %}
                <li>
                    {{ shelf.name }} (Текущая: {{ shelf.capacity }}, Максимальная: {{ shelf.max_capacity }}, Размер: {{ shelf.size_limit }})
                    <a href="{% url 'delete_shelf' shelf.id %}">Удалить</a>
                </li>
            {% empty %}
                <li>Нет стеллажей.</li>
            {% endfor %}
        </ul>
        <div class="centered">
            <a href="{% url 'home' %}">На главную страницу</a>
        </div>
    </div>
</body>
</html>
